#root {
  width: 100%;
}

.column-card {
  background-color: #232a31 !important;
  box-shadow: none !important;
  padding: 1rem 1.5rem !important;
  color: white !important;
  border-radius: 0.5rem !important;
}

.task-card {
  color: white !important;
  padding: 0.5rem !important;
  box-shadow: none !important;
  border-radius: 0.5rem !important;
  margin: 0.1rem 0rem !important;
  border: 1px solid transparent;
  transition: all 0.08s ease-in-out;
  width: 100%;

  &:hover {
    border: 1px solid #44546f;
    cursor: pointer;
  }
}

.btn-task {
  text-decoration: none !important;
}

.menu {
  height: 100%;
  padding-left: 1rem;
}

.icon-container {
  padding: 0.1rem 0.5rem;
  border-radius: 5px;
  margin: auto 0.2rem;

  &:hover {
    cursor: pointer;
    background-color: #44546f;
  }
}
