.column-card {
  background-color: #232a31 !important;
  box-shadow: none !important;
  padding: 2rem !important;
  color: white !important;
  border-radius: 0.5rem !important;
  // border: 2px solid yellow;
}
